/**
 * Breakpoints
 */

$mobile: 768px;
$tablet: 992px;
$desktop: 1024px;


/**
 * Colors
 */

$main-color: #000;

/**
 * Fonts
 */

$base-font-size: 14px;
$base-font-color: #222;
$base-font-stack: "Arial", Helvetica, sans-serif;
