html {
    box-sizing: border-box;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    font-size: 100%;
}

*, *:after, *:before {
    box-sizing: inherit;
}

body {
    font-family: $font-primary;
    @include font-size($font-size);
    font-weight: 400;
    color: $color-text;
}

a {
    text-decoration: none;

    &[href^="tel:"] {
        color: $color-text;
        cursor: default;
    }
}

button {
    outline: 0 none;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}

input,
textarea {
    @extend button;
    @include font-size(16px);
}

input[type="checkbox"] {
    -webkit-appearance: checkbox;
    -moz-appearance: checkbox;
    appearance: checkbox;
}
