.cols {

    .col {
        float: left;

        &.col-last {
            margin-right: 0 !important;
        }
    }

    &.col-2 {
        .col {
            width: 48%;
            margin-right: 4%;
        }
    }

    &.col-3 {
        .col {
            width: 30%;
            margin-right: 5%;
        }
    }

    &.col-4 {
        .col {
            width: 22%;
            margin-right: 4%;
        }
    }
}

@media (max-width: 768px) {
    .cols {
        .col {
            float: none;
            width: 100% !important;
            margin-bottom: 20px;
        }
    }
}

@media (max-width: 992px) {
    .cols.col-4 {
        .col {
            width: 100%;
        }
    }
}
