/**
 * Fonts
 */
html {
  box-sizing: border-box; }

*, *:after, *:before {
  box-sizing: inherit; }

body {
  font-family: "Arial", Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #222; }

.clearfix:before,
.clearfix:after {
  display: table;
  content: " "; }

.clearfix:after {
  clear: both; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

a {
  text-decoration: none; }

img {
  height: auto;
  max-width: 100%; }

button, input,
textarea {
  outline: 0 none;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0; }

input,
textarea {
  font-size: 16px; }

input[type="checkbox"] {
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
  appearance: checkbox; }

.invisible {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

a[href^="tel:"] {
  text-decoration: none;
  color: #222;
  cursor: default;
  border: none !important; }

.cols .col {
  float: left; }
  .cols .col.col-last {
    margin-right: 0 !important; }

.cols.col-2 .col {
  width: 48%;
  margin-right: 4%; }

.cols.col-3 .col {
  width: 30%;
  margin-right: 5%; }

.cols.col-4 .col {
  width: 22%;
  margin-right: 4%; }

@media (max-width: 768px) {
  .cols .col {
    float: none;
    width: 100% !important;
    margin-bottom: 20px; } }

@media (max-width: 992px) {
  .cols.col-4 .col {
    width: 100%; } }
